.nerdstromReviewPage {
    border: 1px solid black;
    font-family: 'Brandon Text';
    font-weight: normal;
    line-height: 1.4;
}

table {
    background-color: yellow;
}
.sortBy {
    vertical-align: top;
    width: 220px;
    border: 1px solid red;
}

.sortByStar{
    vertical-align: top;
    width: 396px;
    border: 1px solid blue;
}

.optionForSortBy {
    border: 1px solid red;
    position: absolute;
    width: 220px;
    background-color: white;
    z-index: 1;
    padding: 0px;
    margin-top: 0px;
}

ul {
    list-style-type: none;
}

.options{
    border: 1px solid red;
    position: absolute;
    width: 396px;
    background-color: white;
    z-index: 1;
    padding: 0px;
    margin-top: 0px;
}

div.mainReviews {
    display: block;
    border: 1px solid red;
}

div.review {
    /* height: auto; */
    display: block;
    padding: 10px 10px 10px 10px; 
    margin-top: 68px;
    border: 1px solid blue;
}

div.leftColumn {
    display: inline-block;
    white-space: normal;
    width: 42%;
    padding-right: 90px;
}

div.rightColumn {
    vertical-align: top;
    display: inline-block;
    text-align: left;
}

.star-ratings-css-top {
    position: absolute;
    width: 80px;
    overflow: hidden;
    color: black;
    display: block;
}

.star-ratings-css-bottom {
    color: lightgray;
    display: block;
}
