
/* Review module */

:local(.nerdstromReviewPage) {
    /* border: 1px solid black; */
    font-family: Lato;
    font-weight: normal;
    line-height: 1.2;
    width: 80%;
}

/* Review Summary Component */

:local(.reviewSummary) {
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 10px;
    width: 100%;
    height: 20%;
}

:local(.summaryTitle ){
    margin-top: 10px;
    margin-bottom: 20px;  
    font-size: 25px; 
    font-weight: bold; 
}

:local(.summaryBody) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

:local(.starRatingsMain) {
    font-size: 20px;
    display: inline-block;
    position: relative;
}

:local(.reviewCount) {
    vertical-align: middle; 
    display: inline-block;
    padding-left: 5px;
    font-size: 15px;
}

:local(.summaryRating) {
    font-size: 14px;
}
:local(.summaryRatingVal){
    margin-left: 10px;
}

:local(.writeReview) {
    border: 1px solid black;
    font-size: 15px;
}

:local(.writeReview:hover) {
    border: 1px solid white;
    background-color: #e3e3e3;
    cursor: pointer;
}

:local(.writeReviewVal) {
    margin-top: 10px;
    margin-bottom: 8px;
    margin-right: 63px;
    margin-left: 63px;
    text-align: center;
}

/* Review Sorting Component */

:local(.sorting) {
    border-bottom: 1px solid #e3e3e3;
    width: 100%;
    font-size: 90%;
}

:local(.sortByStar) {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

:local(.sortStarBefore) {
    border-top: 2px solid gray;
    text-align: left;
    width: 110px;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

}
:local(.sortStarAfter) {
    border: 1px solid #e3e3e3;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    text-align: left;
    width: 110px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

:local(.smallArrow) {
    padding-right: 5px;
}

ul {
    list-style-type: none;
}

li {
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    /* border: 1px solid #e3e3e3; */
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    z-index: 10;
    width: 110px;
    cursor: pointer;
}

li:hover {
    border-bottom: 2px solid #e3e3e3;
}

:local(.sortByMain ){
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 100px;    
}

:local(.sortBy) {
    text-align: left;
    width: 220px;
    border: 1px solid #e3e3e3;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 0px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

:local(.optionForSortBy li) {
    width: 220px;
}

:local(.optionForSortBy ){
    position: absolute;
    width: 220px;
    background-color: white;
    z-index: 1;
    padding: 0px;
    margin-top: 0px;
}


:local(.options){
    position: absolute;
    width: 110px;
    background-color: white;
    z-index: 1;
    padding: 0px;
    margin-top: 0px;
}


/* Main Review Component */


:local(.review) {
    display: block;
    padding-top: 40px; 
    padding-bottom: 40px; 
    border-bottom: 1px solid #e3e3e3;
}

:local(.reviewTitle){
    padding-top: 10px;
}

:local(.description) {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size:90%;
}

:local(.ratings) {
    padding-top: 10px;
    font-size: 90%;
}

:local(.ratings div) {
    padding-bottom: 5px;
}

:local(.ratings strong ){
    padding-right: 5px;
}

:local(.leftColumn ){
    display: inline-block;
    white-space: normal;
    width: 60%;
    padding-right: 90px;
}

:local(.rightColumn ){
    vertical-align: top;
    display: inline-block;
    text-align: left;
    font-size: 90%;
}

:local(.starRatingsCss) {
    width: 70px;
    position: relative;
}

:local(.starRatingsCssTop) {
    position: absolute;
    overflow: hidden;
    color: black;
    display: block;
}

:local(.starRatingsCssBottom) {
    color: #e3e3e3;
    display: block;
}


/* page selector */
:local(.pageSelectorBody) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
}

:local(.selectNum) {
    flex-grow: 0.5;
    display: flex;
    justify-content: space-evenly;
}

:local(path) {
    stroke: #737373;
}

:local(.previous) {
    display: flex;
    align-items: center;
}

:local(.previous span) {
    margin-left: 10px;
}

:local(.next){
    display: flex;
    align-items: center;
}

:local(.next span) {
    margin-right: 10px;
}

:local(.previous:hover) {
    cursor: pointer;
}

:local(.previous span:hover) {
    text-decoration: underline;
}

:local(.next:hover) {
    cursor: pointer;
}

:local(.next span:hover) {
    text-decoration: underline;
}


:local(.clickable:hover) {
    cursor: pointer;
    text-decoration: underline;
}
:local(.clickable) {
    height: 24px;
    width: 24px;
    text-align: center;
}

:local(.active) {
    cursor: default !important;
    text-decoration: none !important;
    border-radius: 50%;
    background-color:rgb(240, 239, 239);
    font-weight: bold;
}
